<div class="container">

  <mat-card>
<form #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)" >

    
    
    <mat-form-field>
    <mat-label>UserName</mat-label>
    <input matInput [(ngModel)]="user.UserName" #UserName="ngModel" placeholder="UserName" #UserName="ngModel"  name="UserName" required>
  </mat-form-field>
    <mat-form-field>
    <input matInput class="validate" [(ngModel)]="user.Email" #Email="ngModel" placeholder="Email" #UserName="ngModel"  name="Email" [pattern]="emailPattern" required>
    <mat-error *ngIf="Email.invalid">{{getErrorMessage(userRegistrationForm)}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input type="password" class="validate" matInput [(ngModel)]="user.Password" #Password="ngModel" matInput placeholder="Password" name="Password" minlength="3" required >
    <mat-label [attr.data-error]="Password.errors!=null?(Password.errors.required?'Required Field!':'Minimun 3 characters needed'):''">Password</mat-label>
  </mat-form-field>
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput [(ngModel)]="user.FirstName" matInput placeholder="First Name" name="FirstName" required >
  </mat-form-field>
  <mat-form-field>
    <mat-label  >Last Name</mat-label>
    <input matInput [(ngModel)]="user.LastName" matInput placeholder="Last Name" name="LastName" required >
  </mat-form-field>
 

  <div class="row" *ngIf="roles" >
    <ul>
      <mat-label >Roles:</mat-label>
      <div *ngFor="let item of roles;let i = index">
        <mat-checkbox name="roles" type="checkbox" [id]="'roles-'+i" value="{{item.Id}}" [checked]="item.selected" (change)="updateSelectedRoles(i)" >{{item.Name}}</mat-checkbox>
      </div>
    </ul>
  </div>

  <br>
    <button [disabled]="!userRegistrationForm.valid" style="margin-bottom:5px;" type="submit" mat-raised-button color="primary" >Registrar</button>
   
    <button mat-raised-button color="primary" routerLink="/Auth/SignIn" routerLinkActive="active-link" >ó Iniciar Sesión</button>
  </form>
</mat-card>
</div>