<div class="container">

  <mat-card>
      <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="username" matInput placeholder="username">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput [(ngModel)]="password" matInput placeholder="password">
        </mat-form-field>
        
        <br>
          <button style="margin-bottom:5px;" mat-raised-button color="primary" (click)="signIn()" >Iniciar Sesión</button>
          
          <button mat-raised-button color="primary" routerLink="/Auth/SignUp" routerLinkActive="active-link" >ó Registrate</button>
  </mat-card>

</div>